<%= form_for @admin, :url {:action => "create_admins"}, :html{:method => 'post'}} do |f|  %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.button :submit, "Salvar" %>
<% end %>