<%= simple_form_for @admin do |f|  %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.button :submit, "Salvar" %>
<% end %>