<h1>Admins</h1>

<table class="table table-striped table-condensed">
    <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td><%= link_to "Deletar", admin_path(admin),data: { confirm: "Confirma exclusão?"}, :method => :delete, class: 'btn btn-danger btn-small' %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @admin %>

<%= link_to '+ Admin', new_admin_path, class: 'btn btn-primary btn-sm' %>
