<%= form_for @admin, :url => {:action => 'create'} do |f|  %>
    <%= f.text_field :email, required: true %>
    <%= f.password_field :password, required: true %>
    <%= f.password_field :password_confirmation, required: true %>
    <%= f.submit "Salvar" %>
<% end %>