<h1>Listar Usuários</h1>

<table class="table table-condensed table-striped" id="users", data-source="<%= users_path(format: :json) %>">
    <thead>
        <th>Nome de Usuário</th>
        <th>Nome Completo</th>
        <th>Email</th>
        <th>Celular</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Edit</th>
    </thead>
    <tbody>
    </tbody>
</table>
  

