<div class="row">
    <h1 class="com-sm-12">Nome de Usuário: <%= @user.username %></h1>
    <%= image_tag @user.avatar.small, class: "col-sm-6" %>
    <div class="col-sm-6">
        <p>Nome: <%= @user.fullname %></p>
        <p>Email: <%= @user.email %></p>
        <p>Telefone: <%= @user.telefone %></p>
        <p>Celular: <%= @user.celular %></p>
        <p>Endereco: <%= @user.address %></p>
        <p>
            Status: <%= @user.status %> |
            <% if @user.status != 'ativo' %>
              <%= link_to('Ativar', ativar_path(@user), :method => :post, class: 'btn btn-success btn-sm', remote: true) %>
            <% else %>
              <%= link_to('Desativar', desativar_path(@user), :method => :post, :id => 'desativar', class: 'btn btn-danger btn-sm', remote: true) %>
            <% end %>
        </p>
    </div>
</div>

