<h1>Home</h1>

<table class="table table-condensed table-striped">
    <thead>
        <th>Avatar</th>
        <th>Nome de Usuário</th>
        <th>Nome Completo</th>
        <th>Email</th>
        <th>Celular</th>
        <th>Telefone</th>
        <th>Distância</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.avatar.thumbnail %></td>
            <td><%= user.username %></td>
            <td><%= user.fullname%></td>
            <td><%= user.email %></td>
            <td><%= user.celular %></td>
            <td><%= user.telefone %></td>
            <td><%= user.distance.round(2) %> Kms</td>
          </tr>
        <% end %>
    </tbody>
</table>
  
<%= will_paginate @users %>
