<!DOCTYPE html>
<html>
  <head>
    <title>Arcond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Arcond', root_path, class: 'navbar-brand' %>
      </div>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Profissionais', root_path %></li>
          <% if current_user %>
            <% if current_user.admin %>
              <li><%= link_to 'Usuários', users_path %></li>
              <li><%= link_to 'Admins', admins_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to 'Cadastre-se', signup_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.email, profile_update_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
    </div>
  </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
