<h2>Editar Usuário</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% unless current_user.admin %>
      <%= f.file_field :avatar %>
      <%= f.input :username, required: true, autofocus: true %>
      <%= f.input :fullname, required: true %>
      <%= f.input :celular, required:true %>
      <%= f.input :telefone, required: true %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Deixe em branco caso não deseje alterar.", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Digite sua senha atual para salvar a nova senha.", required: true %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancelar Conta</h3>

<p>Deseja sair? <%= link_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm' %></p>

